# Use PHP 5.3 
AddHandler application/x-httpd-php53 .php 
### @version $Id: htaccess.txt 10492 2008-07-02 06:38:28Z ircmaxell $
# @package Joomla
# @copyright Copyright (C) 2005 - 2008 Open Source Matters. All rights reserved.
# @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
# Joomla! is Free Software
##

## Can be commented out if causes errors, see notes above.
Options +FollowSymLinks -Indexes

#
# mod_rewrite in use

RewriteEngine On

########## Begin - Rewrite rules to block out some common exploits
## If you experience problems on your site block out the operations listed below
## This attempts to block the most common type of exploit `attempts` to Joomla!
#
# Block out any script trying to set a mosConfig value through the URL
RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
# Block out any script trying to base64_encode crap to send via URL
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
# Block out any script that includes a tag in URL
RewriteCond %{QUERY_STRING} (\|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Send all blocked request to homepage with 403 Forbidden error!
RewriteRule ^(.*)$ index.php [F,L]
#
########## End - Rewrite rules to block out some common exploits

# RewriteBase /

########## Begin - Joomla! core SEF Section
#

RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/index.php
RewriteCond %{REQUEST_URI} (/|\.php|\.html|\.htm|\.feed|\.pdf|\.raw|/[^.]*)$ [NC]
RewriteRule (.*) index.php
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

#
########## End - Joomla! core SEF Section
SetOutputFilter DEFLATE
Header set Expires "max-age=29030400, public"
Header unset ETag
FileETag None

ExpiresActive On
ExpiresDefault A600
ExpiresByType image/x-icon A2592000
ExpiresByType application/x-javascript A604800
ExpiresByType text/css A604800
ExpiresByType image/gif A2592000
ExpiresByType image/png A2592000
ExpiresByType image/jpeg A2592000
ExpiresByType text/plain A1200
ExpiresByType application/x-shockwave-flash A2592000
ExpiresByType video/x-flv A2592000
ExpiresByType application/pdf A2592000
ExpiresByType text/html A600

# Added for Custom 404 Error
ErrorDocument 404 http://www.swiftkanban.com
ErrorDocument 500 http://www.swiftkanban.com

#####Sitemap - Feb28 2014 #####
RewriteCond %{REQUEST_URI} ^/sitemap.xml
RewriteRule .* /index.php?option=com_xmap&id=1&view=xml

#SD Times Redirect
redirect 301 /free https://login.swift-kanban.com/pui/mregistration.html?utm_source=SD%2BTimes&utm_medium=print&utm_campaign=SD%2BTimes%2BAd

redirect 301 /glossary http://www.swiftkanban.com/kanban/46-kanban-glossary.html
redirect 301 /pricing http://www.swiftkanban.com/kanban-pricing.html
redirect 301 /pricing.html http://www.swiftkanban.com/kanban-pricing.html
redirect 301 /kanban-signup http://www.swiftkanban.com/free-kanban-trial.html
redirect 301 /trial http://www.swiftkanban.com/free-kanban-trial.html
redirect 301 /trial-popup http://www.swiftkanban.com/free-kanban-trial.html?utm_source=Website&utm_medium=Popup&utm_campaign=Website%2BTrial%2BPopup
redirect 301 /kanban-tool.html http://www.swiftkanban.com
redirect 301 /kanban-tools.html http://www.swiftkanban.com

redirect 301 /community/category/blog/ http://www.swiftkanban.com/blog
redirect 301 /blog/68-lean-software-development.html http://www.swiftkanban.com/blog/34-lean-software-development.html
redirect 301 /kanban-signup.html http://www.swiftkanban.com/free-kanban-trial.html
redirect 301 /pricing/kanban-signup.html http://www.swiftkanban.com/free-kanban-trial.html
redirect 301 /swift-termspopup.html http://www.swiftkanban.com/terms-of-use.html

################################# Community Redirects Starts Here  #########################################
redirect 301 /community/blog/73-scrum-g-kanban-scrumban-or-kanban-lessons-at-lean-coffee.html http://www.swiftkanban.com/blog/37-scrum-g-kanban-scrumban-or-kanban-lessons-at-lean-coffee.html
redirect 301 /community/blog/70-kanban-evolutionary-or-revolutionary.html http://www.swiftkanban.com/blog/35-kanban-evolutionary-or-revolutionary.html
redirect 301 /community/blog/69-pull-vs-push.html http://www.swiftkanban.com/blog/36-kanban-says-pull-dont-push.html
redirect 301 /community/blog/68-lean-software-development.html http://www.swiftkanban.com/blog/34-lean-software-development.html
redirect 301 /community/blog/62-using-swift-kanban-for-customer-portfolio-management.html http://www.swiftkanban.com/blog/33-using-swift-kanban-for-customer-portfolio-management.html
redirect 301 /community/blog/22-kanban-and-the-focus-on-fundamentals.html http://www.swiftkanban.com/blog/32-kanban-and-the-focus-on-fundamentals.html
redirect 301 /community/blog/6-agility-redefined.html http://www.swiftkanban.com/blog/31-agility-redefined.html
redirect 301 /community/blog/2-agility-requires-greater-discipline-are-you-ready-for-it.html http://www.swiftkanban.com/blog/30-agility-requires-greater-discipline-are-you-ready-for-it.html
redirect 301 /community/blog/david-anderson-blog/1-kanban-and-offshore-development.html http://www.swiftkanban.com/blog/62-kanban-and-offshore-development.html
redirect 301 /community/blog/david-anderson-blog/66-who-owns-kanban.html http://www.swiftkanban.com/blog/63-who-owns-kanban.html
################################# Community Redirects Ends Here    #########################################

################################# OLD REDIRECTS STARTS HERE #################################################
redirect 301 /subscribe.html http://login.swift-kanban.com/pui/registration.html

redirect 301 /toolsjournal http://www.swiftkanban.com/pricing.html?utm_source=ToolsJournal&utm_medium=Unpaid&utm_content=Review&utm_campaign=Swift-Kanban

#DJA Invitation Redirects Starts Here#
redirect 301 /dja-signup http://www.swiftkanban.com/news-and-events/dja-signup
#redirect 301 /dja-signup http://www.swiftkanban.com/news-and-events/david-anderson-webinar-series
redirect 301 /dja-webinar-series-signup /dja-signup
redirect 301 /dja-event https://digite-events.webex.com/digite-events/onstage/g.php?t=a&d=665740844
redirect 301 /dja-townhall-signup http://www.swiftkanban.com/dja-signup
redirect 301 /July12-Scrumban http://www.youtube.com/embed/gm4nsbNyEA8
#DJA Invitation Redirects Ends Here#

#DJA Recording Redirects Starts Here#
redirect 301 /round_table_webex https://digite-events.webex.com/digite-events/onstage/g.php?t=a&d=661501914
redirect 301 /round_table_recording http://www.youtube.com/watch?v=nZcqcByb140
redirect 301 /dja-townhall-meeting-3-recording https://digite-events.webex.com/digite-events/lsr.php?AT=pb&SP=EC&rID=4341632&rKey=4adfa9bdf9be401f
redirect 301 /dja-townhall-meeting-4-recording https://digite-events.webex.com/digite-events/lsr.php?AT=pb&SP=EC&rID=4463452&rKey=0822c202d4be4990
redirect 301 /dja-townhall-meeting-Apr-2012-recording http://www.swiftkanban.com/community/david-anderson-global-town-hall-meeting
redirect 301 /dja-townhall-meeting-Jul-2012-recording http://www.youtube.com/watch?v=FPwzv57jAqw
redirect 301 /dja-recordings http://www.youtube.com/playlist?list=PLE62A8CC7BDA27129&feature=view_all
redirect 301 /dja_recording http://www.youtube.com/playlist?list=PLE62A8CC7BDA27129&feature=view_all
#DJA Recording Redirects Ends Here#

#MASA Redirects Starts Here#
redirect 301 /masa-event https://digite-events.webex.com/digite-events/onstage/g.php?t=a&d=661232813
redirect 301 /masa-signup http://www.swiftkanban.com/news-and-events/masa-signup?no_redirect=true
redirect 301 /masa-redordings http://www.youtube.com/watch?v=uYsT_ZEa9Rk&list=PL0F8554EB72AFAFC9&index=1&feature=plpp_video
#MASA Redirects Ends Here#

#Dominica Redirects Starts Here#
redirect 301 /dominica-event https://digite-events.webex.com/digite-events/onstage/g.php?t=a&d=660284421
redirect 301 /dominica-signup http://www.swiftkanban.com/news-and-events/dominica-signup?no_redirect=true
redirect 301 /dominica-recordings http://www.youtube.com/watch?v=d5RMhXtp0bo
#MASA Redirects Ends Here#

#Webinar Redirects Start here
redirect 301 /training-series https://digite-events.webex.com/digite-events/onstage/g.php?t=a&d=661157257
redirect 301 /first_scrumban_tool http://www.youtube.com/embed/gm4nsbNyEA8
redirect 301 /first_scrumban_tool_signup http://www.swiftkanban.com/first_scrumban_tool

redirect 301 /deliver_value https://digite-events.webex.com/digite-events/onstage/g.php?t=a&d=664109729
redirect 301 /beyond_IT http://www.youtube.com/embed/xcQahZOZ4Y0
redirect 301 /beyond_IT_europe https://digite-events.webex.com/digite-events/onstage/g.php?t=a&d=667865841
redirect 301 /masa_webinar http://www.youtube.com/embed/xcQahZOZ4Y0
redirect 301 /masa_webinar_europe http://www.youtube.com/embed/3pQtXCfvZ-U
redirect 301 /beyond-it-and-software http://www.youtube.com/embed/xcQahZOZ4Y0
redirect 301 /beyond-it-and-software-europe http://www.youtube.com/embed/3pQtXCfvZ-U
#Webinar Redirects Ends here

redirect 301 /integration-api http://help.swift-kanban.com/getting-started/api-for-web-services.html

##YouTube Videos Start Here##

## Measure and Improve
redirect 301 /video_measure_and_improve http://www.youtube.com/embed/sL9Rbhu1PEU?rel=0

## Swift-Kanban Introduction
redirect 301 /video_swift_kanban_introduction http://www.youtube.com/embed/jArEvKPIfZ4

## Creating a project
redirect 301 /video_creating_project http://www.youtube.com/embed/mtwZJabG3AY?rel=0

## Modify your processes
redirect 301 /video_modify_processes http://www.youtube.com/embed/1YWGViUtk4Y

## Importing cards in Swift-Kanban
redirect 301 /video_import_cards http://www.youtube.com/embed/JwYiAgjyCLk

## Blocking and Unblocking
redirect 301 /video_block_cards http://www.youtube.com/embed/9KehhgobAhQ

## Smart Lanes
redirect 301 /video_smart_lanes http://www.youtube.com/embed/yzVNlPB-gBs



##YouTube Videos Ends Here##


#Email Redirects starts here
redirect 301 /feature-suggestion http://swiftkanban.uservoice.com/forums/85253-ideas-suggestions
#Email Redirects ends here

#Help redirect
redirect 301 /help/tutorials/ http://help.swift-kanban.com/video-tutorials.html
redirect 301 /help/creating-users/ http://help.swift-kanban.com/getting-started/people.html
redirect 301 /help/category/application-features/admin/define-card-types/ http://help.swift-kanban.com/getting-started/admin/define-card-types.html
redirect 301 /help/invite-your-team-members/ http://help.swift-kanban.com/getting-started/projects/team-setup.html
redirect 301 /help/category/application-features/projects/kanban-board/ http://help.swift-kanban.com/getting-started/projects/kanban-board/visualize-your-workflowprocess.html
redirect 301 /help/category/application-features/projects/ http://help.swift-kanban.com/getting-started/projects/creating-a-project.html
redirect 301 /help/faqs/ http://help.swift-kanban.com/faq.html

redirect 301 /swift-kanban.html http://www.swiftkanban.com

redirect 301 /masa http://www.swiftkanban.com/?utm_source=Masa&utm_medium=Sales&utm_campaign=Sales%2BMasa%2BWorkshop

################################# OLD REDIRECTS ENDS HERE #################################################


################################# eMail REDIRECTS Starts HERE #################################################
redirect 301 /what_is_kanban.html http://swift-kanban.com/kanban/1-what-is-kanban.html
redirect 301 /how_does_swift_kanban_work.html http://swift-kanban.com/kanban/53-why-swift-kanban.html
redirect 301 /quicktour.html http://swift-kanban.com/swift-kanban-product-tour.html
################################# eMail REDIRECTS ENDS HERE #################################################

redirect 301 /linkedin http://www.linkedin.com/groups/SwiftKanban-Users-Friends-4332448?gid=4332448&trk=hb_side_g
redirect 301 /ln http://www.linkedin.com/groups/SwiftKanban-Users-Friends-4332448?gid=4332448&trk=hb_side_g
redirect 301 /community http://www.linkedin.com/groups/SwiftKanban-Users-Friends-4332448?gid=4332448&trk=hb_side_g
redirect 301 /marketing-survey https://www.surveymonkey.com/s/swift-kanban-marketing
redirect 301 /survey https://dv140.infusionsoft.com/app/form/swiftkanban-survey

redirect 301 /dja-chicago-2012 https://www.e-junkie.com/ecom/gb.php?ii=1108796&c=ib&aff=221065&cl=130848
#redirect 301 /dja-chicago-2012 http://agilemanagement.net/index.php/Blog/advanced_kanban_masterclass_chicago_il_-_sep_5-7_2012/

#SEM Starts
redirect 301 /scrumban http://www.swiftkanban.com/kanban/41-what-is-scrumban.html
redirect 301 /jira http://help.swift-kanban.com/getting-started/projects/jira-integration-beta.html
redirect 301 /kanban-board http://www.swiftkanban.com/kanban/42-what-is-kanban-board.html
#SEM Ends


redirect 301 /buy https://buy.swift-kanban.com/xpaydigite
redirect 301 /webinar-signup http://www.swiftkanban.com/news-and-events/david-anderson-webinar-series

redirect 301 /signup_success http://www.swiftkanban.com/swift-kanban-subscription-confirmation

redirect 301 /kanban-scrum-scrumban-features/swiftsync-integration.html https://www.swift-kanban.com/swiftsync-integration.html
redirect 301 /kanban-scrum-scrumban-features/swiftsync-integration https://www.swift-kanban.com/swiftsync-integration.html

redirect 301 /djav-in https://www.youtube.com/watch?v=W0uVcgeRqgk&list=PLQMRWQeOJpJR_xBZbXZ2zSPxBB6Mf0dEm

redirect 301 /jim-0113-reg https://dv140.infusionsoft.com/app/form/jimbenson-registration-22-08-2013

redirect 301 /jim-0113-event https://digite-events.webex.com/digite-events/onstage/g.php?t=a&d=664725298

redirect 301 /WIP http://www.meetup.com/Limited-WIP-Society-India/
redirect 301 /wip http://www.meetup.com/Limited-WIP-Society-India/

redirect 301 /predictability-signup http://app.streamsend.com/public/RQpU/b8t/subscribe
redirect 301 /predictability-event https://digite-events.webex.com/digite-events/onstage/g.php?t=a&d=661455701

redirect 301 /leannow-signup-in http://www.swiftkanban.com/emailer/introduction-to-leannow-in/signup_form.html
redirect 301 /leannow-event-in https://digite-events.webex.com/digite-events/onstage/g.php?t=a&d=669977017

#redirect 301 /leannow-signup-au http://app.streamsend.com/public/RQpU/bpH/subscribe
#redirect 301 /leannow-event-au https://digite-events.webex.com/digite-events/onstage/g.php?t=a&d=664822405

redirect 301 /leannow-signup https://dv140.infusionsoft.com/app/form/getting-started-with-leannow
redirect 301 /leannow-event https://digite-events.webex.com/digite-events/onstage/g.php?t=a&d=660773971

redirect 301 /cisco-presentation https://drive.google.com/folderview?id=0B37Dn5JpAgZCXzdTekl4MUh2TkE&usp=sharing

redirect 301 /sk-brochure-pdf http://swiftkanban.com/media/brochure/sk-product-brochure.pdf
redirect 301 /leannow/webinar-series/128-introduction-to-leannow.html /leannow/webinar-series/173-introduction-to-leannow1.html


#################       Blog redirect to new blog site     ########


redirect 301 /blog/174-how-to-handle-tickets-during-sprint-planning.html http://blog.digite.com/how-to-handle-tickets-during-sprint-planning/
redirect 301 /blog/sudipta-lahiri/154-due-dates-for-kanban-systems.html http://blog.digite.com/due-dates-in-kanban-systems/
redirect 301 /blog/sudipta-lahiri/138-daily-life-of-a-swiftkanban-developer.html http://blog.digite.com/all-in-a-days-work-as-a-swift-kanban-developer/
redirect 301 /blog/sudipta-lahiri/123-agile-and-innovation.html http://blog.digite.com/agile-and-innovation/
redirect 301 /blog/sudipta-lahiri/115-benefits-of-kanban-series-300-lead-time-reduction.html http://blog.digite.com/benefits-of-kanban-300-cycle-time-reduction/

redirect 301 /blog/154-due-dates-for-kanban-systems.html http://blog.digite.com/due-dates-in-kanban-systems/
redirect 301 /blog/138-daily-life-of-a-swiftkanban-developer.html http://blog.digite.com/all-in-a-days-work-as-a-swift-kanban-developer/
redirect 301 /blog/123-agile-and-innovation.html http://blog.digite.com/agile-and-innovation/
redirect 301 /blog/115-benefits-of-kanban-series-300-lead-time-reduction.html http://blog.digite.com/benefits-of-kanban-300-cycle-time-reduction/

redirect 301 /blog/113-kanbans-passage-to-india-with-david-anderson-a-short-trip-report.html http://blog.digite.com/kanbans-passage-to-india-with-david-anderson/

redirect 301 /blog/101-my-big-fat-indian-american-thanksgiving-kanban-to-the-rescue.html http://blog.digite.com/my-big-fat-indian-american-thanksgiving-kanban-to-the-rescue/

redirect 301 /blog/100-implementing-kanban-start-with-yourself.html http://blog.digite.com/implementing-kanban-start-with-yourself/
redirect 301 /blog/82-writing-your-blog-using-kanban-part-2.html http://blog.digite.com/writing-your-blog-using-kanban-part-2/
redirect 301 /blog/83-writing-your-blog-using-kanban-part-1.html http://blog.digite.com/writing-your-blog-using-kanban-part-2-2/
redirect 301 /blog/80-why-we-hate-process.html http://blog.digite.com/why-we-hate-process/
redirect 301 /blog/15-masa-blog/76-handling-ticket-issues-with-kanban.html http://blog.digite.com/handling-ticket-issues-with-kanban/
redirect 301 /blog/15-masa-blog/77-visualizing-cycles-in-kanban.html http://blog.digite.com/visualizing-cycles-in-kanban/
redirect 301 /blog/72-so-how-do-you-run-a-well-managed-daily-standup-with-a-distributed-team.html http://blog.digite.com/so-how-do-you-do-agile-in-a-distributed-environment/

redirect 301 /blog/15-masa-blog/69-maturing-the-kanban-board.html http://blog.digite.com/maturing-the-kanban-board/
redirect 301 /blog/66-translating-a-book-with-kanban.html http://blog.digite.com/translating-a-book-with-kanban/
redirect 301 /blog/37-scrum-g-kanban-scrumban-or-kanban-lessons-at-lean-coffee.html http://blog.digite.com/scrum-kanban-scrumban-or-kanban-lessons-at-lean-coffee/

redirect 301 /blog/35-kanban-evolutionary-or-revolutionary.html http://blog.digite.com/kanban-evolutionary-or-revolutionary/
redirect 301 /blog/36-kanban-says-pull-dont-push.html http://blog.digite.com/kanban-says-pull-don%C2%B4t-push/
redirect 301 /blog/16-david-blog/34-lean-software-development.html http://blog.digite.com/lean-software-development/
redirect 301 /blog/16-david-blog/63-who-owns-kanban.html http://blog.digite.com/279/
redirect 301 /blog/15-masa-blog/33-using-swift-kanban-for-customer-portfolio-management.html http://blog.digite.com/using-swift-kanban-for-customer-portfolio-management/

redirect 301 /blog/32-kanban-and-the-focus-on-fundamentals.html http://blog.digite.com/kanban-and-the-focus-on-fundamentals-2/
redirect 301 /blog/31-agility-redefined.html http://blog.digite.com/agility-redefined/
redirect 301 /blog/16-david-blog/62-kanban-and-offshore-development.html http://blog.digite.com/kanban-and-offshore-development/
redirect 301 /blog/30-agility-requires-greater-discipline-are-you-ready-for-it.html http://blog.digite.com/agility-requires-greater-discipline-are-you-ready-for-it/

redirect 301 /blog.html  http://blog.digite.com/
redirect 301 /blog http://blog.digite.com

redirect 301 /contact-us /swiftkanban-contact-us
redirect 301 /contact-us.html /swiftkanban-contact-us

####### edited on Feb 19th - for the blog-2 links google webmaster was showing #########

redirect 301 /blog-2/37-scrum-g-kanban-scrumban-or-kanban-lessons-at-lean-coffee.html http://blog.digite.com/scrum-kanban-scrumban-or-kanban-lessons-at-lean-coffee/

redirect 301 /blog-2/31-agility-redefined.html http://blog.digite.com/agility-redefined/
redirect 301 /blog-2/80-why-we-hate-process.html http://blog.digite.com/why-we-hate-process/
redirect 301 /blog-2/30-agility-requires-greater-discipline-are-you-ready-for-it.html http://blog.digite.com/agility-requires-greater-discipline-are-you-ready-for-it/

redirect 301 /masa-blog-feed/76-handling-ticket-issues-with-kanban.html http://blog.digite.com/handling-ticket-issues-with-kanban/
redirect 301 /blogs/36-kanban-says-pull-dont-push.html http://blog.digite.com/kanban-says-pull-don%C2%B4t-push/
redirect 301 /blogs/35-kanban--evolutionary-or-revolutionary.html http://blog.digite.com/kanban-evolutionary-or-revolutionary/
redirect 301 /blog-2/16-david-blog/63-who-owns-kanban.html http://blog.digite.com/who-owns-kanban/
redirect 301 /16-blog/david-blog/34-lean-software-development.html http://blog.digite.com/lean-software-development/
redirect 301 /blog-2/15-masa-blog/77-visualizing-cycles-in-kanban.html http://blog.digite.com/visualizing-cycles-in-kanban/
redirect 301 /blog-2/82-writing-your-blog-using-kanban-part-2.html http://blog.digite.com/writing-your-blog-using-kanban-part-2/

####### END edited on Feb 19th - for the blog-2 links google webmaster was showing #########

###### URL Canonicalization  24July2014 ######

redirect 301 http://swiftkanban.com/ http://www.swiftkanban.com/

###### End 24July2014 ######

